@import 'vars/colors'
@import 'abstracts/mixins'

.boxFind
    padding-top: 15rem
    .boxTitle
        margin: auto
        text-align: center
        margin-bottom: 10rem
        h2
            position: relative
            display: inline-block
            .avion1
                position: absolute
                top: -12rem
                left: -24rem
            .avion2
                position: absolute
                top: 5.5rem
                left: 27.5rem
