@import 'vars/colors'
@import 'abstracts/mixins'

.boxFind
    padding-top: 16rem
    margin-bottom: 16rem
    .boxTitle
        margin: auto
        text-align: center
        margin-bottom: 11rem
        h2
            position: relative
            display: inline-block
            .avion1
                position: absolute
                top: -14.5rem
                left: -20.5rem
            .avion2
                position: absolute
                top: 3.2rem
                left: 31.5rem
                z-index: 1
    .subTitle
        // border: 1px solid blue
        color: var(--Amarillo, #FFD700)
        text-align: center
        font-size: 18px
        font-style: normal
        line-height: normal
        letter-spacing: -0.36px
    .boxSubTitle
        // border: 1px solid blue
        position: relative
        display: flex
        justify-content: center
        margin-bottom: 17px
        svg
            position: relative
            // border: 2px solid pink
    .boxSubTitleT1
        width: 50%
        position: absolute
        margin-top: 10px
        margin-bottom: 7px
        justify-content: center
        .boxSubTitleT
            margin-top: 24px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: flex-end
            p
                color: var(--Amarillo, #FFD700)
                text-align: center
                font-size: 18px
                font-style: normal
                line-height: 105%
    .boxGanadores
        // border: 1px solid blue
        // position: relative
        display: flex
        flex-direction: column
        align-items: center
        .boxGanador
            width: 50%
            position: relative
            margin-top: 10px
            margin-bottom: 7px
            justify-content: center
            .rowGanadores
                position: relative
                display: flex
                // border: 2px solid blue
                flex-direction: row
                justify-content: space-between
                align-items: flex-end
                p
                    color: #FFF
                    font-size: 18px
                    font-style: normal
                    line-height: normal
                    letter-spacing: -0.36px
                .contenedorPremios
                    // border: 3px solid red
                    display: flex
                    align-items: center
                    justify-content: flex-start
                    gap: 13px
                    .descripcionPremios
                        flex-grow: 1
                        h2
                            color: #FFF
                            text-align: center
                            font-size: 18px
                            font-style: normal
                            line-height: 105%
                            text-align: left
                        p
                            color: #FFF
                            font-size: 16px
                            font-style: normal
                            line-height: .5rem
                            letter-spacing: -0.32px
