@import 'vars/colors'
@import 'abstracts/mixins'

.boxFind
    padding-top: 13rem
    margin-bottom: 16rem
    .separate
        margin-bottom: 8rem
    .boxTitle
        margin: auto
        text-align: center
        margin-bottom: 11rem

        @media screen and (max-width: 992px)
            margin-bottom: 2rem
        h2
            position: relative
            display: inline-block
            img
                height: auto
                object-fit: contain
                width: 100%
                @media screen and (max-width: 992px)
                    width: 90%
            .avion1
                position: absolute
                top: -11.5rem
                left: -24.5rem
                width: 70%
                display: none
                @media screen and (min-width: 992px)
                    display: block
            .avion2
                position: absolute
                top: 5.2rem
                left: 29.5rem
                width: 70%
                z-index: 1
                display: none
                @media screen and (min-width: 992px)
                    display: block
    .subTitle
        color: #FFD700
        text-align: center
        font-size: 18px
        font-style: normal
        line-height: normal
        letter-spacing: -0.36px
        margin-bottom: 3rem
    .tabla
        // overflow-x: scroll
        padding-top: 2rem
        @media screen and (min-width: 992px)
            // overflow: initial

        .boxEncabezado
            width: 700px
            position: relative
            display: flex
            align-items: center
            margin: auto
            text-align: center
            margin-bottom: 3rem
            @media screen and (max-width: 1200px)
                position: relative
                display: flex
                align-items: center
                margin: auto
                text-align: center
                margin-bottom: 3rem
                flex-direction: column
                width: auto
            svg
                position: absolute
                left: 0
                bottom: -11px
                margin-top: 1rem
                @media screen and (max-width: 1200px)
                    width: -webkit-fill-available
                    height: -webkit-fill-available
            .Ganadores
                width: 350px
                @media screen and (max-width: 1200px)
                    width: auto
                p
                    color: var(--Amarillo, #FFD700)
                    text-align: center
                    font-size: 18px
                    font-style: normal
                    line-height: 105%

            .Premios
                width: 350px
                @media screen and (max-width: 1200px)
                    width: auto
                p
                    color: var(--Amarillo, #FFD700)
                    text-align: center
                    font-size: 18px
                    font-style: normal
                    line-height: 105%

        .boxAnunciando
            .boxGanador
                width: 700px
                position: relative
                display: flex
                margin: auto
                text-align: center
                align-items: center
                margin-top: 2rem
                @media screen and (max-width: 1200px)
                    width: auto
                    position: relative
                    display: flex
                    margin: auto
                    text-align: center
                    align-items: center
                    margin-top: 2rem
                    flex-direction: column
                svg
                    position: absolute
                    bottom: -11px
                    @media screen and (max-width: 1200px)
                        width: -webkit-fill-available
                .contenedorNombre
                    width: 350px
                    p
                        color: #FFF
                        font-size: 18px
                        font-style: normal
                        line-height: normal
                        letter-spacing: -0.36px
                .contenedorPremios
                    display: flex
                    align-items: center
                    .contenedorImagen
                        padding: 0 10px
                    .descripcionPremios
                        display: flex
                        flex-direction: column
                        align-items: flex-start
                        h2
                            color: #FFF
                            text-align: center
                            font-size: 18px
                            font-style: normal
                            text-align: left
                        p
                            color: #FFF
                            font-size: 16px
                            font-style: normal
                            line-height: .5rem
                            letter-spacing: -0.32px
